<div *ngIf="tableName != 'No object'" class="content-body">
	<!-- {{tableName}} | {{connectionId}} -->
	<p-dataTable [value]="tableData" scrollable="true" [tableStyle]="{'width': '100%'}" selectionMode="single" (onRowSelect)="onRowSelect($event)" [(selection)]="selectedCar">
		<p-column *ngFor="let col of tableCols" [field]="col.field" [header]="col.header" [sortable]="true" [style]="{'width':'250px'}"></p-column>
		<p-column>
			<ng-template pTemplate="header">
				<button type="button" (click)="getTableData()">
					<i class="fa fa-refresh"></i>
				</button>
			</ng-template>
			<ng-template let-row="rowData" pTemplate="body">
				<button type="btn btn-primary" (click)="delete(row)" >
					<i class="fa fa-remove"></i>
				</button>
			</ng-template>
		</p-column>
		<p-footer>
			<button class="btn btn-primary" (click)="showDialogToAdd()">Add</button>
		</p-footer>
	</p-dataTable>
	<p-dialog header="{{tableName.toUpperCase()}}" [(visible)]="displayDialog" showEffect="fade" [modal]="true">
		<div>
			<div *ngFor="let col of cols">
				<div class="col-sm-3">
					<label >{{col}}</label>
				</div>
				<div class="col-sm-9">
					<input class="ui-input" [(ngModel)]="newRow[col]" />
				</div>
			</div>
			<button class="btn btn-primary" (click)="save()">Save</button>
		</div>
	</p-dialog>
</div>