
<div style="padding: 15px">
    <textarea rows="20" style="width: 100%" [(ngModel)]="query" [ngModelOptions]="{standalone: true}" autofocus></textarea>
    <input type="button" class="btn btn-primary" value="Execute" (click)="execute()">
</div>
<div style="padding: 15px; max-height: 40%; width: 100%">
    <p-tabView>
        <p-tabPanel header="Results" [selected]="ctab == 0" [style]="{'width': '100%'}">
            <p-dataTable [value]="rows" scrollable="true" [tableStyle]="{'width': '100%'}">
                <p-column *ngFor="let col of colds" [field]="col.field" [header]="col.header" [sortable]="true" [style]="{'width':'250px'}"></p-column>
            </p-dataTable>
        </p-tabPanel>
        <p-tabPanel header="Errors" [selected]="ctab == 1">
            <p>{{errors}}</p>
        </p-tabPanel>
    </p-tabView>
</div>