<div class="content-wrapper">
    <section class="content-header">
        <h1>
            Dashboard
            <small>Control panel</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Dashboard</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <!-- Small boxes (Stat box) -->
        <div class="row">
            Hello From Home Component
            <p-accordion>
                <p-accordionTab header="Header 1">
                    Content 1
                </p-accordionTab>
                <p-accordionTab header="Header 2">
                    Content 2
                </p-accordionTab>
                <p-accordionTab header="Header 3">
                    Content 3
                </p-accordionTab>
            </p-accordion>
        </div>
    </section>
</div>